<div class="table-container">
  <ion-toolbar color="light-shade">
    <ion-button (click)="openCreateItemModal()" slot="end" size="small">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <p>Adicionar</p>
    </ion-button>
  </ion-toolbar>
  <div class="grid-container">
    <ion-grid>
      <ion-row>
        @for (h of headers; track h; let i = $index) {
          <ion-col sizeLg="2.4" size="6" class="header-item list-item label">
            <p>{{h}}</p>
          </ion-col>
        }
        @if (type === "loan") {
          <ion-col sizeLg="2.4" size="6" class="header-item list-item label">
            <p>Data de Empréstimo</p>
          </ion-col>
          <ion-col sizeLg="2.4" size="6" class="header-item list-item label">
            <p>Prazo de Devolução</p>
          </ion-col>
          <ion-col sizeLg="2.4" size="6" class="header-item list-item label">
            <p>Data de Devolução</p>
          </ion-col>
        }
        <ion-col sizeLg="2.4" size="6" class="header-item list-item label">
          <p>Ações</p>
        </ion-col>
      </ion-row>
      @for (item of itemList; track item; let i = $index) {
        <ion-row id="{{item['id']}}">
          @for (key of keys; track key; let j = $index) {
            <ion-col sizeLg="2.4" size="6" class="list-item label" title="{{item[key]}}">
              <p>{{getNestedValue(item, key)}}</p>
            </ion-col>
          }
          @if (type === "loan") {
            <ion-col sizeLg="2.4" size="6" class="list-item label">
              <p>{{item.loanDatetime | date:'dd/MM/yyyy HH:mm'}}</p>
            </ion-col>
            <ion-col sizeLg="2.4" size="6" class="list-item label">
              <p>{{item.dueDate | date:'dd/MM/yyyy'}}</p>
            </ion-col>
            <ion-col sizeLg="2.4" size="6" class="list-item label">
              <p>{{item.isReturned ? (item.checkoutDatetime | date:'dd/MM/yyyy HH:mm') : 'Pendente'}}</p>
            </ion-col>
          }
          <ion-col sizeLg="2.4" size="6" class="list-item label">
            <ion-button color="secondary" (click)="openEditItemModal($event)">
              <ion-icon name="create-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="openDeleteItemAlert($event)" color="danger">
              <ion-icon name="trash-sharp"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  </div>
</div>